

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}



/* home firstt css */

h1 {
    font-size: 50px;
}

.orange{
    color: orange;
}

.half-width {
    width: 40%;
  
    margin-left: 5%;
    padding-left: 2%;
}

img{
    max-width: 100%;
}
section{
    display: flex;
}

.top-banner {
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}

.btn {
    text-transform: uppercase;
    text-decoration: none;
   
    padding: 10px 40px;
    border-radius: 5px;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    color: #fff;
    font-weight: 700;
}

/* end */